<!-- app/views/users/new.html.erb -->
<h1>Create your account</h1>
<%= form_with(model: @user, local: true) do |form| %>
  <%= form.label :email %>
  <%= form.text_field :email %>

  <%= form.label :password %>
  <%= form.text_field :password %>

  <%= form.submit "Create account" %>
<% end %>
