<h1>Hello, #{"user.username"} and Welcome to Your Profile</h1>
<h3>Your Reservations</h3>

<% @reservations.each do |reservation| %>
    <%= image_tag(reservation.product.image, width: 100, height: 200) %>
    <%= "Reservation #{reservation.start_date} until #{reservation.end_date}" %>
    <h2>Reservation Details</h2>
    <p>Status: <%= reservation.status %></p>
    <br>
      <%= link_to'Accept', accept_product_reservation_path(reservation.product@reservation)%>
    <br>
      <%= link_to'Reject', reject_product_reservation_path(reservation.product@reservation)%>
    <br>
<% end %>
