<h1 id="main_title">Bring the <span>BEST NFTs</span> at home in one clic</h1>

<div class="btn-container">
<%= link_to "Browse our NFT library", products_path, class: "button-primary" %>
</div>

  <div class="card-container">

<% @products[0..3].each do |product| %>
    <div class="card noHover">
      <div class="tag">
        <p><span><%= product.price %>€</span>/mo</p>
      </div>
      <%= image_tag(product.image) %>
      <h2><%= product.name %></h2>
      <p><%= product.description %></p>
    </div>
<% end %>
  </div>
