<h1 id="main_title">Get the <span>BEST NFTs</span> at home in one click</h1>

<div class="btn-container">
<%= link_to "Browse our NFTs", products_path, class: "button-primary" %>
</div>

<div class="card-container-home">
  <% @products[0..3].each do |product| %>
      <div class="card noHover">
        <div class="tag">
          <p><span><strong></strong><%= product.price %>€</span>/day</p>
        </div>
        <%= image_tag(product.image) %>
        <h2><%= product.name %></h2>
        <p><%= product.description %></p>
      </div>
  <% end %>
</div>

<div class="empty"></div>
