<div class="container-product">
  <div class="left-product">
    <%= image_tag(@product.image, :alt => "nft", class: "product-image") %>
  </div>
</div>

<div class="tag tag-product-position">
  <p><span><%= @product.price %>€</span>/mo</p>
</div>

<div class= "right-product">
  <h1 id="product-title"><%= @product.name %></h1>
  <%= link_to "Get this NFT now", products_path, class: "button-primary" %>
  <p id="product-paragraph">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore optio obcaecati ducimus dolores aliquid? Dolores, earum ab sint voluptatum vitae, ut, corrupti minima autem facilis officia nemo ipsam eveniet porro? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit, neque. Debitis, minima! Accusamus deserunt mollitia ut odit, sequi, dicta adipisci incidunt ipsa, ullam earum ex iure alias corrupti distinctio error!<br>
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam in eius expedita omnis, impedit libero excepturi iusto autem consequatur quas laborum, tenetur tempore neque facilis. Eaque blanditiis possimus dignissimos illum.<br>
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore optio obcaecati ducimus dolores aliquid? Dolores, earum ab sint voluptatum vitae, ut, corrupti minima autem facilis officia nemo ipsam eveniet porro? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit, neque. Debitis, minima! Accusamus deserunt mollitia ut odit, sequi, dicta adipisci incidunt ipsa, ullam earum ex iure alias corrupti distinctio error!<br>
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam in eius expedita omnis, impedit libero excepturi iusto autem consequatur quas laborum, tenetur tempore neque facilis. Eaque blanditiis possimus dignissimos illum.<br>
  </p>
</div>

<div class= "suggestion">
<h3>Need more?</h3>
</div>

  <div class="card-container">

<% @suggestion[0..3].each do |product| %>
    <div class="card">
      <div class="tag">
        <p><span><%= product.price %>€</span>/mo</p>
      </div>
      <%= image_tag(product.image) %>
      <h2><%= product.name %></h2>
      <p><%= product.description %></p>
    </div>
<% end %>
  </div>





<%= link_to 'Back to products', products_path %>
